#                   DEFAULT
# This owner will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will
# be requested for review when someone opens a pull request.

*                           @jlefebvre55

#                   ADMIN
# Repo administration code

/.github/                   @peapodtechnologies/admins
LICENSE                     @peapodtechnologies/admins
.gitignore                  @peapodtechnologies/admins

#                   DOCUMENTATION
# TODO: other file types?

/docs/                      @peapodtechnologies/documentation-review
*.tex                       @peapodtechnologies/documentation-review
*.md                        @peapodtechnologies/documentation-review

#                   ELECTRONICS
# Electronics software

/software/PeaPod-Arduino/   @peapodtechnologies/electronics

# TODO: Per-deliverable code ownership?