node_modules/
tsconfig.json

**/build/
*.ts
!*.d.ts

.git/
**/.gitignore
.gitattributes
.npmignore
package-lock.json

.env
.env.template
*.pem
deviceInfo.json
projects/

# Arduino Binaries
*.elf
*.hex
*.eep
*.bin