[Unit]
Description=PeaPod Boot Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/peapod.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target